*{
    font-family: 'Times New Roman';
}

/* Last Rules */
b{
    color: red;
}

b{
    color: blue; /* Akan mengambil yg terakhir */
}

/* Spesific Rules */
i{
    color: red; /* level 1*/
}

p i{
    color: cadetblue; /* level 2*/
}

p i{
    color: darkgoldenrod !important; /* level 3*/
}

